<script type="text/javascript">
  function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cartform').submit();
  }
  function update_item(id) {
      document.getElementById('cartform').submit();
  }
</script>
{% if cart.item_count == 0 %} 
  <div id="content">
    <h4>Your shopping cart is looking rather empty&hellip;</h4>
  </div>
{% else %}
<form action="/cart" method="post" id="cartform">
<div class="trade">
  <div class="checkout">
    <a href="/" class="continue">Continue Shopping</a>
    <input type="image" value="Checkout!" name="checkout" class="submit-checkout" src="{{ 'checkout.gif' | asset_url }}" />
    <!-- <div class="options">{{ content_for_additional_checkout_buttons }}</div> -->
  </div>
  <div class="top">
    <span>Product</span>
    <ul>
      <li>&nbsp;</li>
      <li class="price">Price</li>
      <li class="quantity">Quantity</li>
      <li class="total">Total</li>
    </ul>
  </div>
  {% for item in cart.items %}
  <div class="product">
    <div class="box">
      <a href="{{item.product.url}}" title="View {{item.title | escape }} Page"><img src="{{item.product.featured_image | product_img_url: 'thumb' }}" alt="{{item.title | escape }}" />
      <p>{{ item.title }}
      {% if item.variant.title != 'Default' %}
         ({{item.variant.title}})
      {% endif %}</p></a>
    </div>
    <ul>
      <li>&nbsp;</li>
      <li class="price">{{ item.price | money }}</li>
      <li class="quantity">
        <input type="text" size="4" name="updates[{{item.variant.id}}]" id="updates_{{item.variant.id}}" value="{{item.quantity}}" onfocus="this.select();"/><br />
        <a href="#" onclick="update_item({{item.variant.id}}); return false;">Update</a>
      </li>
      <li class="total">{{ item.line_price | money }}</li>
    </ul>
    <a href="#" onclick="remove_item({{item.variant.id}}); return false;" class="remove">Remove</a>
  </div>
  {% endfor %}
  <div class="subtotal">
    <strong>Subtotal:</strong> {{ cart.total_price | money_with_currency }}
  </div>
  <div class="checkout">
    <a href="/" class="continue">Continue Shopping</a>
    <input type="image" value="Checkout!" name="checkout" class="submit-checkout" src="{{ 'checkout.gif' | asset_url }}" />
    <!-- <div class="options">{{ content_for_additional_checkout_buttons }}</div> -->
  </div>
</div>
{% endif %}
