  <div id="content">
      {% for product in collection.products %}
      {% if forloop.first %}
        <ul class="product">
      {% endif %}
        <li>
          <a href="{{product.url | within: collection }}"><img src="{{ product.featured_image | product_img_url: 'original' }}" /><strong>{{ product.title }}<span>{{ product.variants.first.price | money }}</span></strong></a>
        </li>
      {% if forloop.last %}
        </ul>
      {% endif %}
      {% endfor %}
  </div>
  <div id="sidebar">
    <div class="title">
      <h2>{{ collection.title}}</h2>
    </div>
    <p>{{ collection.description }}</p>
  </div>
