<div id="page-part" class='{{ page.handle }}'>
  {% capture file_name %}{{ page.handle }}.gif{% endcapture %}
  <h2><img src="{{ file_name | asset_url }}" alt="{{page.title}}"/></h2>

  <div class="article textile">
    {{page.content}}
  </div>

</div>