<div id="content">
  <div class="box">
    <div class="image">
        {% if product.images[1] %}
            <img src="{{ product.images[1] | product_img_url: 'original'}}" alt="{{product.title | escape }}" />
        {% endif %}
    </div>
    {% if collection %}            
      <div class="back">
        <a href="{{ collection.url }}">Back</a>
      </div>
    {% endif %}
    <div class="content-box">
      <h3>{{ product.title }} <span>{{ product.variants.first.price | money }}</span></h3>
      <p>{{ product.description }}</p>
      
      {% if product.available %}
        <form action="/cart/add" method="post">
          <input type="hidden" id="variant-select" name="id" value="{{ product.variants.first.id}}">
          <!-- <p>{{ product.variants.first.title}}</p> -->
        <input type="image" name="add" value="Add to Cart" id="add" src="{{ 'add.gif' | asset_url }}" />
        </form>
      {% else %}
          <span>Sold Out!</span>
      {% endif %}
    </div>
  </div>
</div>
<div id="sidebar">
  {% if collection %}            
    <div class="title">
      <h2>{{ collection.title }}</h2>
    </div>
    <p>{{ collection.description }}</p>
  {% endif %}
</div>
{% if collection %}            
<div class="more-products">
  <div class="top">
    <a href="{{ collection.url }}" class="title">More {{ collection.title }} Products</a>
  </div>
  <ul class="product">
    {% for cproduct in collection.products %}
      <li><a href="{{cproduct.url | within: collection}}"><img src="{{ cproduct.featured_image | product_img_url: 'original' }}" />
          <strong>
            {{ cproduct.title }}
            <span>{{ cproduct.variants.first.price | money }}</span>
          </strong>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
<script type="text/javascript">
<!--
  // prototype callback for multi variants dropdown selector
  var selectCallback = function(variant, selector) {
    if (variant && variant.available == true) {
      // selected a valid variant
      $('add').removeClassName('disabled'); // remove unavailable class from add-to-cart button
      $('add').disabled = false;           // reenable add-to-cart button
      $('price-field').innerHTML = Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}");  // update price field
    } else {
      // variant doesn't exist
      $('add').addClassName('disabled');      // set add-to-cart button to unavailable class
      $('add').disabled = true;              // disable add-to-cart button      
      $('price-field').innerHTML = (variant) ? "Sold Out" : "Unavailable"; // update price-field message
    }
  };
  var selector = null;

  // initialize multi selector for product
  Event.observe(document, 'dom:loaded', function() {
    selector = new Shopify.OptionSelectors("variant-select", { product: {{ product | json }}, onVariantSelected: selectCallback }); 
  });
-->
</script>